.about-me {
  padding-top: 62px;
}

.about-me__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 36px;
}

.about-me__avatar {
  width: 245px;
  height: 245px;
  border-radius: 50%;
  box-shadow: 1px 8px 6px 2px #52525269;

  background-image: url('../assets/img/about-me/my-avatar.jpg');
  background-position: center;
  background-size: 100%, cover;
  background-repeat: no-repeat;
}

.about-me__title {
  font-size: 24px;
  font-weight: 700;

  color: rgba(66, 48, 62, 0.926);
}
.title-page {
  font-size: 24px;
  font-weight: 700;

  color: rgba(66, 48, 62, 0.926);
}

.about-me__text {
  font-size: 18px;
  font-weight: 400;
  text-shadow: 0 0 1px;

  color: rgba(14, 14, 14, 0.641);
}
